header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: rgb(0, 0, 106);
    color: white;
    height: 25px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
  }

  nav a {
    background-color: unset;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

.PhotoAndAboutMe{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.PhotoAndAboutMe img {
  width: 50%;
  height: auto;
}

.PhotoAndAboutMe .AboutMeList {
  border: 1px solid black;
}